{% extends "polls/base.html" %}
{% block content %}

  <script type = "text/javascript">

     var timer=setInterval(WebSocketTest,10000);
     function WebSocketTest() {

        if ("WebSocket" in window) {
           // Let us open a web socket
           var ws = new WebSocket("ws://localhost:8000/ws/testData/");

           ws.onopen = function() {
             // Web Socket is connected, send data using send()
                    //ws.send("Message to send");
                    ws.send(document.getElementById("demo").value);
                 };

           ws.onmessage = function (evt) {
              var received_msg = evt.data;
              //alert(received_msg);
              document.getElementById("demo").value=received_msg;
           };

           ws.onclose = function() {

              // websocket is closed.
              //alert("Connection is closed...");
           };
        }
        else {
           // The browser doesn't support WebSocket
           alert("WebSocket NOT supported by your Browser!");
        }
     }

   function WebSocketClose(){

     }
  </script>
  <div id="sse">
    <!--<a href = "javascript:WebSocketTest()">Run WebSocket</a> -->
    <!-- <p id="demo">message here.</p> -->
    <input id="demo" class="form-control" type="text" name="textbox" >
  </div>

  <div class="" contenteditable="true" id="edit">
    this is editable
  </div>

{% endblock content %}
