{% extends "polls/base.html" %}
{% load countVotes %}
{% load crispy_forms_tags %}
{% block content %}

  <p class="display-4">My Polls</p>
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Create a new poll
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form method="post" action="">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input type="submit" value="Post" class="btn btn-success">

      </form>
    </div>
  </div>
  <p></p>


  {% if user.question_set.all %}
  <div class="container ">
    <ul class="list-group">
      {% for question in user.question_set.all %}
      <li class=" list-group-item d-flex justify-content-between align-items-center">
        <a class="text-dark" href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
        <span class="badge badge-info ">
          {{question.id|countVotes}}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
   <p>No polls available</p>
  {% endif %}
{% endblock content %}
