{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% load alreadyVoted %}
{% block content %}
  <p class="display-4">{{the_question.question_text}}</p>
  <p class="text-left text-muted">{{the_question.description}}</p>
  <span class="badge badge-info">
  Posted on {{the_question.pub_date}} by {{the_question.user}}
  </span>
  <p></p>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action="{% url 'polls:vote' the_question.id %}" method="post">
  {% csrf_token %}
  {% for choice in the_question.choice_set.all %}
    {% if choice.allowed %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="choice" id="choice{{forloop.counter}}"
        value="{{choice.id}}">
        <label class="form-check-label" for="choice{{forloop.counter}}">{{choice.choice_text}}</label> <br>
      </div>
    {% endif %}
  {% endfor %}
  <br>
  {% if user.is_authenticated %}
    {% if the_question.id|alreadyVoted:user.id %}
      <input type="submit" value="Vote" class="btn btn-primary">
    {% else %}
      <p class="text-sm text-muted font-italic">You have already voted on this poll. View <a href="{% url 'polls:results' the_question.id  %}">results</a>?
      </p>
    {% endif %}
  {% else %}
    <p class="text-sm text-muted font-italic">You must be logged in to vote. View <a href="{% url 'polls:results' the_question.id  %}">results</a>?
    </p>
  {% endif %}
  </form>
  <br>
  <p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add / Suggest another choice?
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form method="post" action="{% url 'polls:addchoice' the_question.id %}">
        {% csrf_token %}
        {{addform|crispy}}
        <br>
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>
  <br>
  <form method="post" action="">
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <input type="submit" value="Submit" class="btn btn-success">

  </form>
  <br>

  <div class="border-top pt-3">
    <p>Comments</p>
  </div>
  {% for comment in comment_list %}
  <div class="media ">
    <div class="media-body">
      <div class="well">
        <h6 class="mt-0">{{comment.user}} ({{comment.pub_date}})</h6>
        {{comment.comment_text}}
      </div>
  </div>
  </div>
  <br>
  {% endfor %}
{% endblock content %}
