{% extends "polls/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <p class="lead">{{the_question.question_text}}</p>
  <p class="text-left text-muted">{{the_question.description}}</p>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action="{% url 'polls:vote' the_question.id %}" method="post">
  {% csrf_token %}
  {% for choice in the_question.choice_set.all %}
  <div class="form-check">
    <input class="form-check-input" type="radio" name="choice" id="choice{{forloop.counter}}"
    value="{{choice.id}}">
    <label class="form-check-label" for="choice{{forloop.counter}}">{{choice.choice_text}}</label> <br>
  </div>
  {% endfor %}
  <br>
  <input type="submit" value="Vote" class="btn btn-primary">

  </form>
  <br>


  <form method="post" action="">
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary">

  </form>
  <br>

  <div class="border-top pt-3">
    <p>Comments</p>
  </div>
  {% for comment in comment_list %}
  <div class="media ">
    <div class="media-body">
      <div class="well">
        <h6 class="mt-0">Anonymous ({{comment.pub_date}})</h6>
        {{comment.comment_text}}
      </div>
  </div>
  </div>
  <br>
  {% endfor %}
{% endblock content %}
