{% extends "polls/base.html" %}
{% block content %}
  <p class="lead pl-3">Public Polls</p>
  {% if latest_question_list %}
  <div class="container ">
    <ul class="list-group">
      {% for question in latest_question_list %}
      <li class=" list-group-item d-flex justify-content-between align-items-center">
        <a class="text-dark" href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
        <span class="badge badge-info ">
          {% for choice in question.choice_set.all %}
            +{{choice.votes}}
          {% endfor %}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
   <p>No polls available</p>
  {% endif %}
{% endblock content %}
